/* Estilos para o carrossel de logos */
.marquee-container {
    overflow: hidden; /* Esconde qualquer conteúdo que exceda o container */
    position: relative;
    width: 100%;
    padding: 10px;
}

.animate-marquee {
    display: flex;
    animation: marquee 10s linear infinite; /* Mantém a animação contínua */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Move o conteúdo para a esquerda */
    }
}

.tech-item {
    flex-shrink: 0; /* Impede que os ícones encolham ao se mover */
    margin-right: 20px; /* Espaçamento entre ícones */
}

img {
    display: block;
    width: 64px; /* Tamanho fixo dos ícones */
    height: 64px;
}
